<div aria-hidden="true" aria-labelledby="credentialModalLabel" class="modal fade" id="credentialModal"
     role="dialog" tabindex="-1" th:fragment="modal" xmlns:th="https://www.thymeleaf.org">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="credential-form-div">
                <form action="#" id="credential-form" th:action="@{/credential}" th:method="POST">
                    <input id="credential-id" name="credentialId" type="hidden">
                    <div class="form-group">
                        <label class="col-form-label" for="credential-url">URL</label>
                        <input class="form-control" id="credential-url" maxlength="100" name="url"
                               required type="text">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="credential-username">Username</label>
                        <input class="form-control" id="credential-username" maxlength="30"
                               name="username"
                               required type="text">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="credential-password">Password</label>
                        <input class="form-control" id="credential-password" maxlength="30"
                               name="password"
                               required type="text">
                    </div>
                    <button class="d-none" id="credentialSubmit" type="submit"></button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick="$('#credentialSubmit').click();" type="button">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>
